{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Story 7 - Ayila</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <section>
        <div class="container">
            <div class="col-12 form">
                <h1 class="hello1"> Ayila Adzkiya Sucahyo</h1>
                <ul>
                    <li>
                        <span>Dark Mode</span>
                        <span>Light Mode</span>
                    </li>
                </ul>
                <div class="set">
                    <a href="#">
                        Education
                        <i class="fa fa-plus"></i>
                    </a>
                    <div class="content">
                        <p> High School, SMAN 2 Bogor - West Java, Indonesia<br></p>
                        <p> Universitas Indonesia, Information System Undergraduate </p>
                    </div>
                </div>
                <div class="set">
                    <a href="#">
                        Activities 
                        <i class="fa fa-plus"></i>
                    </a>
                    <div class="content">
                        <p> Member of Information Management, SISTEM Fasilkom UI 2019 <br></p>
                        <p> Candidate for Person in Charge of Sponsorship Compfest 12 </p>
                    </div>
                </div>
                <div class="set">
                    <a href="#">
                        Organizations Experience 
                        <i class="fa fa-plus"></i>
                    </a>
                    <div class="content">
                        <p> Staff of Public Relation at Open House Fasilkom UI 2018<br></p>
                        <p> Staff of Sponsorship at Educare 2019<br></p>
                        <p> Staff of Event at Computers Get Together 2019<br></p>
                        <p> Staff of Sponsorship at COMPFEST 11<br></p>
                        <p> Staff of Event at Open House Fasilkom UI 2019</p>
                    </div>
                </div>
                <div class="set">
                    <a href="#">
                        Achievements 
                        <i class="fa fa-plus"></i>
                    </a>
                    <div class="content">
                        <p> Second Place West Java T20 Cricket Team PON XIX - Bandung, West Java, Indonesia</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'myscript.js' %}"></script>
    </section>
</body>
</html>