
body{
    background-color: rgb(233, 233, 233);
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    position: relative;
    width: 500px;
    height: auto;
    margin: 50px auto;
}
.set{
    position: relative;
    width: 500px;
    height: auto;
    background-color: #f5f5f5;
}
.set > a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: rgb(40, 40, 156);
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.25 linear;
    -moz-transition: all 0.25 linear;
    transition: all 0.2 linear;
}
.set > a i{
    position: relative;
    float: right;
    margin-top: 4px;
    color: #666;
}
.set > a.active{
    background-color: rgb(74, 21, 199);
    color: #fff;
}
.set > a.active i {
    color: #fff;
}
.content{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: none;
}
.content p {
    padding: 10px 15px;
    margin: 0;
    color: #333;
}


.hello1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.mode{
    text-align: right;
}
.tombol1{
    text-align: right;
    margin-right: 200px;
}
.save1{
    margin-top: 1vw;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    padding: 0.7vw;
    color: black;
    background-color: rgb(233,233,233);
    border: 2px solid black;
}
.pencet:hover{
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    padding: 0.7vw;
    color:yellow;
    background-color: black;
    border: 2px solid black;
}

ul{
    position: absolute;
    top: 110%;
    right: -2%;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 30px;
    z-index: 1;
    border: 1px solid #000;
    cursor: pointer;
    overflow: hidden;
}
ul.active{
    border-color: white;
}
ul li{
    list-style: none;
    width: 100%;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
}

ul li span{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #262626;
    background: white;
}

ul li span:nth-child(1){
    background: #262626;
    color: white;
}

ul.active li {
    transform:translateY(-30px);
}
section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: 0.5s;

}
section.dark{
    background: #262626;
    color: white;
}

.set.dark{
    position: relative;
    width: 500px;
    height: auto;
    background-color:rgb(71, 71, 71);
}

.content p.dark{
    padding: 10px 15px;
    margin: 0;
    color: white;
    background: rgb(105, 105, 105);
}

.set > a.dark{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    border-bottom: 1px solid rgb(201, 201, 201);
    -webkit-transition: all 0.25 linear;
    -moz-transition: all 0.25 linear;
    transition: all 0.2 linear;
}

.set > a.active.dark{
    background-color:rgb(252, 0, 126);
    color: #262626;
}